	/*RESOLUCION 767 PARA MOVIL*/
	@media (min-width: 320px) and (max-width: 767px) {
		/*PORTAFOLIO*/
		#portafolio { padding:50px 0;}
		#portafolio p { margin: 10px 0 30px; width:100%;}
		#portafolio h2 { font-size:30px; line-height:70px;}
		ul#portafolio-filter{ padding-left:0px;}
		ul#portafolio-lista li { width: 100%; margin-bottom:10px;}
		#portafolio-lista img {width:80%;} ul#portafolio-lista { margin: 40px 0 0 0;}
		#contacto { padding:50px 0;}
		#contacto h2 { font-size:28px; line-height:70px;}
		#contacto p { margin: 15px auto 50px;}
		.spacing { margin: 10px;}
		.btn11 { font-size: 16px; padding: 15px 44px; width: 240px;}
		/*SERVICES*/
		#service {
			padding:50px 0;
		}
		#service h2 {
			font-size: 30px;
			line-height: 70px;
		}
		#service p {
			margin: 10px 0 30px;
			width:100%;
		}
		#service figure {
			margin-bottom:20px;
		}
		/*SKILLS*/
		#skill {
			padding:50px 0;
		}
		#skill h2 {
			font-size:30px;
			line-height:70px;
		}
		#skill p {
			margin: 10px 0 30px;
			width:100%;
		}
		#skill span {
			margin-bottom:30px;
		}
	}
	/*RESOLUCION PARA TABLETAS*/
	@media only screen and (min-width: 768px) and (max-width: 959px){
		/*PORTAFOLIO*/
		#portafolio {
			padding:50px 0;
		}
		#portafolio-lista img {
			width:90%;
		}
		ul#portafolio-lista li {
   			 width: 25%;
		}
		ul#portafolio-lista p {
			font-size: 16px;
			line-height: 20px;
		}
		/*SERVICES*/
		#service {
			padding: 50px 0;
		}
		/*SKILLS*/
		#skill {
			padding:50px 0;
		}
		.loader{
			width:180px !important;
			height:180px !important;
		}
		.loader1{
			width:180px !important;
			height:180px !important;
		}
		.loader2{
			width:180px !important;
			height:180px !important;
		}
		.loader3{
			width:180px !important;
			height:180px !important;
		}		
	}
	@media only screen and (min-width: 960px) and (max-width: 1200px) {
		#portafolio-lista img { width:90%;}
		ul#portafolio-lista li { width: 25%;}
		#portafolio { padding:50px 0;}
		#portafolio-lista img { width:90%;}
		ul#portafolio-lista li { width: 25%;}
		ul#portafolio-lista p { font-size: 16px; line-height: 20px;}
		#about { padding:50px 0 10px;}
		#contacto { padding:50px 0;}
	}
		